{{#data}}
<div class="card shadow-sm"  style="margin-top: 10px !important;">
  <div class="card-body">
    <h5 class="card-title">{{typeObject}} - {{name}}<span class="badge badge-pill badge-light"><i class="fas fa-star"></i> {{rate}}</span></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{admArea}} {{district}} {{address}}</h6>
    <p class="hidden social-{{socialPrivileges}}"><B>Есть социальные скидки</b></p>
    <a href="#" class="btn btn-dark card-link selectRestaurant" data-id="{{id}}">Показать меню</a>
  </div>
</div>
{{/data}}